body {
  font-family: 'Rajdhani', sans-serif;
  color: #00fff6;
  background: radial-gradient(circle, #000000 40%, #141030);
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.navbar {
  background: radial-gradient(circle, #000000 40%, #141030);
  border-bottom: 2px solid #00fff6;
}

.navbar-brand {
  font-family: 'Orbitron', sans-serif;
  font-size: 2rem;
  color: #00fff6;
  text-shadow: 
    0 0 5px #0ff,
    0 0 10px #0ff,
    0 0 20px #0ff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 100px #0ff;
}

.nav-link {
  color: #ffffff;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #00fff6;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background: url('images/herobackground.avif') no-repeat center/cover;
  position: relative;
}

#hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

#hero-content {
  z-index: 2;
  color: #00fff6;
}

#hero h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 4rem;
  color: #00fff6;
  z-index: 2;
  text-shadow: 
    0 0 5px #0ff,
    0 0 10px #0ff,
    0 0 20px #0ff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 100px #0ff;
}

.title {
  font-family: 'Orbitron', sans-serif;
  font-size: 2.5rem;
  color: #00fff6;
  z-index: 2;
  text-shadow: 
    0 0 5px #0ff,
    0 0 10px #0ff,
    0 0 20px #0ff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 100px #0ff;
}

#hero h5 {
  color: #ffffff;
}

.features {
  display: flex;
  justify-content: space-around;
  color: white;
}

.feature {
  text-align: center;
  padding: 20px;
  position: relative;
}

.feature i {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #00fff6;
}

.feature:not(:last-child) {
  border-right: 1px solid #00fff6; 
}

.btn-custom {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: 2px solid #00fff6;
  color: #00fff6;
  background-color: transparent;
  transition: all 0.3s;
  text-shadow: 0 0 8px #00fff6, 0 0 20px #00fff6;
}

.btn-custom:hover {
  background-color: #00fff6;
  color: #000;
  box-shadow: 0 0 15px #00fff6;
}

.card {
  color: rgb(0, 238, 255);
  box-shadow: 0 0 20px 0px rgb(0, 238, 255, 0.6);
}

footer {
  background-color: #000000;
  padding: 20px 0;
  text-align: center;
}

footer a {
  color: #00fff6;
  margin: 0 10px;
  font-size: 1.5rem;
  transition: color 0.3s;
}

footer a:hover {
  color: #ffffff;
}

footer p {
  color: #ffffff;
}

section {
  border-bottom: 2px solid #00fff6;
  background: radial-gradient(circle, #000000 40%, #141030);
}

h3 {
  font-size: 1rem;
  margin: 0.5rem;
}

h2 {
  font-size: 1.5rem;
  margin: 0.5rem;
  font-weight: 500;
}

.card{
  color: rgb(0, 238, 255);
  box-shadow: 0 0 20px 0px rgb(0, 238, 255, 0.6);
}

.card-header {
  background-color: black;
  box-shadow: inset 0 0 40px 0px rgb(0, 238, 255);

}

.card-body {
  background-color: black;
}

.card-body .download-button{
  margin: 5% 3% 5% 0;
  box-shadow: inset 0 0 10px 0px rgb(0, 238, 255);
  color: rgb(0, 238, 255)
}

.card-body .download-button:hover {
  background-color: black;
  box-shadow: 0 0 40px 0px rgb(0, 238, 255);
  color: white;
}

.card:hover{
  box-shadow: 0 0 20px #617be3;
  box-shadow: 0 0 40px 0px rgb(0, 238, 255);
}

.pricing-card {
  padding: 3% 2%;
}

.white-section {
  color: #00fff6;
  padding: 7% 15%;
  padding-top: 5%;
  text-align: center;
}

.white-section h1 {
  padding-bottom: 2%;
}

#ai-projects {
  padding: 6%;
}

.artwork-landscape img{
  width: 100%;
}